doctype html
html(lang="en")
 head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
 body 
    h1 hello eric
    li item 0
    li item 1
    li item 2
    p your score 85
    h4 your score is terrible
    ul
    li kelly
    li amy
    li luc
    ul
    li 15: eri
    li 15: eri